<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bupt.ipoc.programmer.dao.StudentDao">
	
	<select id="findByUserName" resultType="Student">
		select * from student where username=#{0}
	</select>
	
	<select id="findList" parameterType="Map" resultType="Student">
		 select * from student 
		 <where>
			 <if test="username !=null">
			 	username like #{username}
			 </if>
			 <if test="clazzId !=null">
			  	and clazzId = #{clazzId}
			 </if>
		 </where> 
		 limit #{offset},#{pageSize}
	</select>
	
	<select id="findAll" resultType="Student">
		select * from student
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="int">
		select count(*) from student 
		<where>
			 <if test="name !=null">
			 	username like #{username}
			 </if>
			 <if test="clazzId !=null">
			  	and clazzId = #{clazzId}
			 </if>
		 </where> 
	</select>
	
	<insert id="add" parameterType="Student">
		insert into student(id,sn,clazzId,username,password,sex,photo,remark) 
		values(null,#{sn},#{clazzId},#{username},#{password},#{sex},#{photo},#{remark})
	</insert>
	
	<update id="edit" parameterType="Student">
		update student set username= #{username},clazzId= #{clazzId},password=#{password},
		sex=#{sex},photo=#{photo},remark = #{remark} where id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from student where id in (${value})
	</delete>
	
</mapper>
